<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Parameter_Serperator" value=":::" />
    <add key="HostName" value="HostName" />
    <add key="Username" value="Username" />
    <add key="Password" value="Password" />
    <add key="SshHostFingerprint" value="SshHostFingerprint" />
    <add key="PortNumber" value="PortNumber" />
    <add key="Timeout" value="Timeout" />
    <add key="Protocall" value="Protocall" />
    <add key="PrivateKey_Password" value="PrivateKeyPassword" />
    <add key="PrivateKey_Path" value="PrivateKeyPath" />
    <add key="SQLScript" value="SQLPath" />
    <add key="Search_Pattern" value="SearchPattern" />
    <add key="SFTP_Action" value="Action" />
    <add key="Local_Directory" value="LocalDirectory" />
    <add key="Remote_Directory" value="RemoteDirectory" />
    <add key="Output_File" value="OutputFile" />
    <add key="Disable_Logging" value="DisableLogging" />
    <add key="ConnectionString" value="ConnectionString" />
    <add key="Log" value="Log" />
    <add key="PUT" value="p" />
    <add key="PUT_DELETE" value="pd" />
    <add key="GET" value="g" />
    <add key="GET_DELETE" value="gd" />
    <add key="GET_REMOTE_FILES" value="grf" />
  </appSettings>
</configuration>